<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Invoice</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "DM Sans", sans-serif;
        margin: 0;
        background-color: #eee;
      }
      .main-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .main-container .Invoice-MainC {
        background-color: #fff;
        /* width: 60%; */
        height: auto;
        padding: 1rem;
      }
      .Invoice-MainC .title {
        text-align: center;
        font-weight: bold;
        font-size: 1.3rem;
        margin: 1rem;
      }
      .Invoice-MainC .Invoice-Content {
        width: 100%;
      }
      .Invoice-Content .Ic_1 {
        font-size: 0.8rem;
        display: grid;
        width: 100%;
        grid-template-columns: 50% 50%;
      }
      .Ic_1 .Ic_1_1 {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
      }
      .Ic_1_1 .Ic11_1 {
        font-size: 12px;
        font-weight: 700;
      }
      .Ic_1_1 .Ic11_2 {
        font-size: 16px;
        font-weight: 400;
      }
      .Ic_1_1 .Ic11_3 {
        font-size: 14px;
        font-weight: 400;
      }
      .Ic_1_1 .Ic11_4 {
        padding: 0.5rem 0rem;
      }
      .Ic_1_1 ul {
        margin: 0;
        padding: 0;
      }
      ul li {
        list-style-type: none;
        margin: 0;
        padding: 0.2rem 0rem;
      }
      #bolder_600 {
        font-weight: 600;
      }
      .Ic_1_5 {
        text-align: center;
        padding: 0.5rem;
      }
      .Ic_1_5 img {
        height: 90px;
        width: 110px;
      }
      table {
        border-collapse: collapse;
        table-layout: auto;
      }
      th,
      td {
        border: 1px solid black;
        text-align: center;
        font-size: 14px;
      }
      table th {
        background: #e7e6e6;
        padding: 0.5rem;
      }
      table td {
        padding: 0.2rem;
      }
      .second_tb th {
        background: #fce5cd;
      }
      tr .L_row {
        border-bottom: none;
      }
    </style>
  </head>
  <body>
    <div class="main-container">
      <div class="Invoice-MainC">
        <div class="title">Tax Invoice</div>
        <div class="Invoice-Content">
          <div class="Ic_1">
            <div
              class="Ic_1_1"
              style="border: solid #000; border-width: 1px 1px 1px 1px"
            >
              <div class="Ic11_1">Sold By (This is not return address):</div>
              <div class="Ic11_2">{{data.seller_detail.name}}</div>
              <div class="Ic11_3">
                {{data.seller_detail.address.line_one}},
                {{data.seller_detail.address.line_two}},
                {{data.seller_detail.address.city}}
              </div>
              <div class="Ic11_3">{{data.seller_detail.address.state}},</div>
              <div class="Ic11_3">
                PIN {{data.seller_detail.address.pin_code}}
              </div>
              <div class="Ic11_4">
                <div>
                  <span class="">PAN NO:</span>
                  <span class="">{{pan}}</span>
                </div>
                <div class="">
                  <span class="">GST Registration No.:</span>
                  <span class="">{{gst}}</span>
                </div>
              </div>
            </div>
            <div
              class="Ic_1_1"
              style="border: solid #000; border-width: 1px 1px 1px 0"
            >
              <ul class="ul_li">
                <li>Tax Invoice: <strong>{{data.invoiceId}}</strong></li>
                <li>Invoice Date: <strong>{{data.invoiceDate}}</strong></li>
                <li>
                  Order Number: <strong>{{data.order_detail.orderId}}</strong>
                </li>
                <li>
                  Order Date: <strong>{{data.order_detail.orderDate}}</strong>
                </li>
                <li>Payment Mode: <strong>Prepaid</strong></li>
                <li>
                  Place of Supply: <strong>{{data.place_of_supply}}</strong>
                </li>
                <li>
                  Place of Delivery: <strong>{{data.place_of_delivery}}</strong>
                </li>
              </ul>
            </div>
            <div
              class="Ic_1_1"
              style="border: solid #000; border-width: 0 1px 0 1px"
            >
              <div class="Ic11_1">Shipping Address:</div>
              <div class="Ic11_2" id="bolder_600">
                {{data.shippingAddress.name}}
              </div>
              <div class="Ic11_3">
                {{data.shippingAddress.line_one}},
                {{data.shippingAddress.line_two}}, {{data.shippingAddress.city}}
              </div>
              <div class="Ic11_3" id="bolder_600">
                {{data.shippingAddress.state}},
              </div>
              <div class="Ic11_3" id="bolder_600">
                PIN {{data.shippingAddress.pin_code}}
              </div>
            </div>
            <div
              class="Ic_1_1"
              style="border: solid #000; border-width: 0 1px 0 0"
            >
              <div class="Ic11_1">Billing Address:</div>
              <div class="Ic11_2" id="bolder_600">
                {{data.billingAddress.name}}
              </div>
              <div class="Ic11_3">
                {{data.billingAddress.line_one}},
                {{data.billingAddress.line_two}}, {{data.billingAddress.city}}
              </div>
              <div class="Ic11_3" id="bolder_600">
                {{data.billingAddress.state}},
              </div>
              <div class="Ic11_3" id="bolder_600">
                PIN {{data.billingAddress.pin_code}}
              </div>
            </div>
          </div>

          <!-- Table content -->
          <div class="table-container">
            <table style="width: 100%">
              <thead>
                <tr>
                  <th>S. No</th>
                  <th>Item Code</th>
                  <th>Description</th>
                  <th>HSN/SAC</th>
                  <th>Qty</th>
                  <th>MRP</th>
                  <th>Disc %</th>
                  <th>Price</th>
                  <th>Taxable Amount</th>
                  <th>Tax Rate</th>
                  <th>Tax Amount</th>
                  <th>Total Amount</th>
                </tr>
              </thead>
              <tbody>
                {{#each data.items}}
                <tr>
                  <td>{{inc @index}}</td>
                  <td>{{this.part_number}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.hsn}}</td>
                  <td>{{this.quantity}}</td>
                  <td>{{this.total}}</td>
                  <td>{{this.discountPercent}}%</td>
                  <td>{{this.subTotal}}</td>
                  <td>{{this.taxableAmount}}</td>
                  <td>{{this.gst}}%</td>
                  <td>{{this.taxAmount}}</td>
                  <td>{{this.netAmount}}</td>
                </tr>
                {{/each}}

                <!-- <tr>
                  <td>1</td>
                  <td>S 3703 A2</td>
                  <td>Air Filter</td>
                  <td>84213100</td>
                  <td>1</td>
                  <td>465.00</td>
                  <td>0%</td>
                  <td>465.00</td>
                  <td>394.07</td>
                  <td>18%</td>
                  <td>70.93</td>
                  <td>465.00</td>
                </tr> -->
                <tr>
                  <td colspan="8" id="bolder_600" class="L_row">Total</td>
                  <td id="bolder_600" class="L_row">{{data.taxableAmount}}</td>
                  <td colspan="2" id="bolder_600" class="L_row">
                    {{data.taxAmount}}
                  </td>
                  <td id="bolder_600" class="L_row">{{data.subTotal}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-container">
            {{#if data.taxBreakUp.interState}}
            <table style="width: 100%" class="second_tb">
              <thead>
                <tr>
                  <th rowspan="2">Category HSN</th>
                  <th rowspan="2">Taxable value</th>
                  <th colspan="2">IGST</th>
                  <th colspan="2">CGST</th>
                  <th colspan="2">SGST</th>
                  <th rowspan="2">Total Tax Amount</th>
                </tr>
                <tr>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th>Rate</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                {{#each data.taxBreakUp.items}} 
                 <tr>
                  <td>{{this.hsn}}</td>
                  <td>{{this.taxableAmount}}</td>
                  <td>{{this.gst}}%</td>
                  <td>{{this.taxAmount}}</td>
                  <td>0%</td>
                  <td>0.00</td>
                  <td>0%</td>
                  <td>0.00</td>
                  <td>{{this.taxAmount}}</td>
                 </tr>
                {{/each}}
                <!-- <tr>
                  <td>84213100</td>
                  <td>394.07</td>
                  <td>18%</td>
                  <td>70.93</td>
                  <td>9%</td>
                  <td>0.00</td>
                  <td>9%</td>
                  <td>0.00</td>
                  <td>70.93</td>
                </tr> -->
                <tr>
                  <td id="bolder_600" class="L_row">Total</td>
                  <td id="bolder_600" class="L_row">{{data.taxBreakUp.taxableAmount}}</td>
                  <td colspan="2" id="bolder_600" class="L_row">{{data.taxBreakUp.taxAmount}}</td>
                  <td colspan="2" id="bolder_600" class="L_row">0.00</td>
                  <td colspan="2" id="bolder_600" class="L_row">0.00</td>
                  <td id="bolder_600" class="L_row">{{data.taxBreakUp.taxAmount}}</td>
                </tr>
              </tbody>
            </table>
            {{/if}} {{#if data.taxBreakUp.intraState}}
            <table style="width: 100%" class="second_tb">
              <thead>
                <tr>
                  <th rowspan="2">Category HSN</th>
                  <th rowspan="2">Taxable value</th>
                  <th colspan="2">IGST</th>
                  <th colspan="2">CGST</th>
                  <th colspan="2">SGST</th>
                  <th rowspan="2">Total Tax Amount</th>
                </tr>
                <tr>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th>Rate</th>
                  <th>Amount</th>
                  <th>Rate</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                {{#each data.taxBreakUp.items}} 
                 <tr>
                  <td>{{this.hsn}}</td>
                  <td>{{this.taxableAmount}}</td>
                  <td>0%</td>
                  <td>0.00</td>
                  <td>{{this.halfGST}}%</td>
                  <td>{{this.halfTaxAmount}}</td>
                  <td>{{this.halfGST}}%</td>
                  <td>{{this.halfTaxAmount}}</td>
                  <td>{{this.taxAmount}}</td>
                 </tr>
                {{/each}}
                <!-- <tr>
                  <td>84213100</td>
                  <td>394.07</td>
                  <td>18%</td>
                  <td>70.93</td>
                  <td>9%</td>
                  <td>0.00</td>
                  <td>9%</td>
                  <td>0.00</td>
                  <td>70.93</td>
                </tr> -->
                <tr>
                  <td id="bolder_600" class="L_row">Total</td>
                  <td id="bolder_600" class="L_row">{{data.taxBreakUp.taxableAmount}}</td>
                  <td colspan="2" id="bolder_600" class="L_row">0.00</td>
                  <td colspan="2" id="bolder_600" class="L_row">{{data.taxBreakUp.halfTaxAmount}}</td>
                  <td colspan="2" id="bolder_600" class="L_row">{{data.taxBreakUp.halfTaxAmount}}</td>
                  <td id="bolder_600" class="L_row">{{data.taxBreakUp.taxAmount}}</td>
                </tr>
              </tbody>
            </table>
            {{/if}}
          </div>

          <!-- footer content -->
          <div class="Ic_1">
            <div
              class="Ic_1_1"
              style="border: solid #000; border-width: 1px 1px 1px 1px"
            >
              Amount of tax subject to reverse charge: No
            </div>
            <div
              class="Ic_1_1"
              style="border: solid #000; border-width: 1px 1px 1px 0"
            >
              <span class=""
                ><strong>Amount in words:</strong> INR {{amountInWords}}</span
              >
            </div>
            <div
              class="Ic_1_5"
              style="border: solid #000; border-width: 0 1px 1px 1px"
            >
              <div class="">Purchase made on</div>
              <img
                width="100"
                src="https://storage.googleapis.com/poonam_coatings/Poonam-Sales-Final-Logo.png"
                alt="Invoice logo"
              />
            </div>
            <div
              class="Ic_1_5"
              style="border: solid #000; border-width: 0 1px 1px 0"
            >
              <span class="">For {{data.seller_detail.name}}</span>
            </div>
            <div
              class="Ic_1_5"
              style="border: solid #000; border-width: 0 1px 1px 1px"
            >
              Customer Support E-mails
              <a
                href="mailto:support@poonamcoatings.com"
                style="padding-left: 0.3rem"
                >support@poonamcoatings.com</a
              >
            </div>
            <div
              class="Ic_1_5"
              style="border: solid #000; border-width: 0 1px 1px 0"
            >
              <span class="">Authorized Signatory</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
